n8n-workflows/02-inscripcion-curso.json
{
  "name": "DISTMAH - Inscripción a Curso",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enrollment-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-enrollment",
      "name": "Webhook Inscripción",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"received\", \"enrollmentId\": \"{{ $json.enrollment.id }}\"}"
      },
      "id": "response",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@distmah.com.ve",
        "toEmail": "={{ $json.student.email }}",
        "subject": "=Confirmación de Inscripción - {{ $json.course.title }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #f5f5f5; padding: 20px;\">\n  <div style=\"background: #1F4E79; padding: 30px; text-align: center;\">\n    <h1 style=\"color: white; margin: 0;\">DISTMAH ATC</h1>\n    <p style=\"color: #ccc; margin: 5px 0 0 0;\">Inscripción Confirmada</p>\n  </div>\n  \n  <div style=\"background: white; padding: 30px;\">\n    <h2 style=\"color: #333;\">¡Felicidades, {{ $json.student.name }}!</h2>\n    \n    <p style=\"color: #666; line-height: 1.6;\">Tu inscripción ha sido confirmada exitosamente.</p>\n    \n    <div style=\"background: #f9f9f9; padding: 20px; border-radius: 5px; margin: 20px 0;\">\n      <h3 style=\"color: #1F4E79; margin-top: 0;\">{{ $json.course.title }}</h3>\n      <p style=\"color: #666; margin: 5px 0;\"><strong>Instructor:</strong> {{ $json.course.instructor }}</p>\n      <p style=\"color: #666; margin: 5px 0;\"><strong>Duración:</strong> {{ $json.course.duration }}</p>\n      <p style=\"color: #666; margin: 5px 0;\"><strong>Nivel:</strong> {{ $json.course.level }}</p>\n    </div>\n    \n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://edu.distmah.com/es/cursos/{{ $json.course.slug }}\" style=\"background: #1F4E79; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold;\">Comenzar Curso</a>\n    </div>\n    \n    <h4 style=\"color: #333;\">Próximos pasos:</h4>\n    <ol style=\"color: #666; line-height: 1.8;\">\n      <li>Accede al curso desde tu dashboard</li>\n      <li>Revisa el módulo de introducción</li>\n      <li>Descarga los materiales de apoyo</li>\n      <li>Completa las evaluaciones de cada módulo</li>\n    </ol>\n  </div>\n  \n  <div style=\"text-align: center; padding: 20px; color: #999; font-size: 12px;\">\n    <p>DISTMAH ATC - Centro de Entrenamiento Autorizado Autodesk</p>\n    <p>soporte@distmah.com.ve</p>\n  </div>\n</div>"
      },
      "id": "email-student",
      "name": "Email al Estudiante",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [650, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@distmah.com.ve",
        "toEmail": "={{ $json.course.instructorEmail }}",
        "subject": "=Nueva inscripción en {{ $json.course.title }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #1F4E79;\">Nueva Inscripción</h2>\n  <p>Un nuevo estudiante se ha inscrito en tu curso:</p>\n  <ul>\n    <li><strong>Estudiante:</strong> {{ $json.student.name }}</li>\n    <li><strong>Email:</strong> {{ $json.student.email }}</li>\n    <li><strong>Curso:</strong> {{ $json.course.title }}</li>\n    <li><strong>Fecha:</strong> {{ $json.enrollment.enrolledAt }}</li>\n  </ul>\n  <p><a href=\"https://edu.distmah.com/es/instructor/cursos\">Ver en Dashboard</a></p>\n</div>"
      },
      "id": "email-instructor",
      "name": "Notificar Instructor",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [650, 400],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Webhook Inscripción": {
      "main": [
        [
          { "node": "Responder OK", "type": "main", "index": 0 },
          { "node": "Email al Estudiante", "type": "main", "index": 0 },
          { "node": "Notificar Instructor", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "inscripcion" }, { "name": "cursos" }]
}
