n8n-workflows/04-certificado-generado.json
{
  "name": "DISTMAH - Certificado Generado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "certificate-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-cert",
      "name": "Webhook Certificado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"received\", \"certificateId\": \"{{ $json.certificate.id }}\"}"
      },
      "id": "response",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@distmah.com.ve",
        "toEmail": "={{ $json.student.email }}",
        "subject": "=🎓 Certificado Disponible - {{ $json.course.title }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #f5f5f5; padding: 20px;\">\n  <div style=\"background: linear-gradient(135deg, #1F4E79 0%, #003366 100%); padding: 40px; text-align: center;\">\n    <h1 style=\"color: white; margin: 0; font-size: 28px;\">¡FELICITACIONES!</h1>\n    <p style=\"color: #ccc; margin: 10px 0 0 0;\">Has completado exitosamente tu curso</p>\n  </div>\n  \n  <div style=\"background: white; padding: 30px;\">\n    <h2 style=\"color: #333; text-align: center;\">{{ $json.student.name }}</h2>\n    \n    <p style=\"color: #666; text-align: center; line-height: 1.6;\">Has completado satisfactoriamente el curso:</p>\n    \n    <div style=\"background: #f9f9f9; padding: 25px; border-radius: 10px; margin: 20px 0; text-align: center; border: 2px solid #1F4E79;\">\n      <h3 style=\"color: #1F4E79; margin: 0; font-size: 20px;\">{{ $json.course.title }}</h3>\n      <p style=\"color: #666; margin: 10px 0 0 0;\">{{ $json.course.duration }} | {{ $json.course.level }}</p>\n    </div>\n    \n    <div style=\"text-align: center; margin: 20px 0;\">\n      <p style=\"color: #666;\"><strong>Código de Verificación:</strong></p>\n      <p style=\"font-family: monospace; font-size: 18px; color: #1F4E79; background: #f0f0f0; padding: 10px; border-radius: 5px;\">{{ $json.certificate.verificationCode }}</p>\n    </div>\n    \n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://edu.distmah.com/es/certificados/{{ $json.certificate.id }}\" style=\"background: #1F4E79; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold;\">Descargar Certificado</a>\n    </div>\n    \n    <p style=\"color: #999; font-size: 12px; text-align: center;\">Este certificado es emitido por DISTMAH ATC, Centro de Entrenamiento Autorizado de Autodesk.</p>\n  </div>\n  \n  <div style=\"text-align: center; padding: 20px; color: #999; font-size: 12px;\">\n    <p>DISTMAH ATC - Centro de Entrenamiento Autorizado Autodesk</p>\n  </div>\n</div>"
      },
      "id": "email-cert",
      "name": "Enviar Certificado",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [650, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "resource": "listItem",
        "operation": "create",
        "siteId": "={{ $env.SHAREPOINT_SITE_ID }}",
        "listId": "Certificados",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "Title", "fieldValue": "={{ $json.student.name }}" },
            { "fieldName": "Email", "fieldValue": "={{ $json.student.email }}" },
            { "fieldName": "Curso", "fieldValue": "={{ $json.course.title }}" },
            { "fieldName": "CodigoVerificacion", "fieldValue": "={{ $json.certificate.verificationCode }}" },
            { "fieldName": "FechaEmision", "fieldValue": "={{ $json.certificate.issuedAt }}" }
          ]
        }
      },
      "id": "sharepoint-cert",
      "name": "Guardar en SharePoint",
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [650, 400],
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "2",
          "name": "Microsoft SharePoint"
        }
      }
    }
  ],
  "connections": {
    "Webhook Certificado": {
      "main": [
        [
          { "node": "Responder OK", "type": "main", "index": 0 },
          { "node": "Enviar Certificado", "type": "main", "index": 0 },
          { "node": "Guardar en SharePoint", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "certificados" }, { "name": "completado" }]
}
