n8n-workflows/08-promocion-curso-avanzado.json
{
  "name": "DISTMAH - Promoción Curso Siguiente Nivel",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upsell-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-upsell",
      "name": "Webhook Upsell",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"received\"}"
      },
      "id": "response",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.course.level }}",
              "value2": "Básico"
            }
          ]
        }
      },
      "id": "check-level",
      "name": "¿Es Básico?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, slug, price FROM courses WHERE software = '{{ $json.course.software }}' AND level = 'Avanzado' AND \"isPublished\" = true LIMIT 1",
        "options": {}
      },
      "id": "get-advanced",
      "name": "Buscar Curso Avanzado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [850, 200],
      "credentials": {
        "postgres": {
          "id": "3",
          "name": "Neon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@distmah.com.ve",
        "toEmail": "={{ $json.student.email }}",
        "subject": "=Lleva tu conocimiento al siguiente nivel - {{ $json.nextCourse.title }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #f5f5f5; padding: 20px;\">\n  <div style=\"background: #1F4E79; padding: 30px; text-align: center;\">\n    <h1 style=\"color: white; margin: 0;\">Siguiente Nivel</h1>\n  </div>\n  \n  <div style=\"background: white; padding: 30px;\">\n    <h2 style=\"color: #333;\">{{ $json.student.name }}, felicitaciones por completar:</h2>\n    \n    <div style=\"background: #d4edda; padding: 15px; border-radius: 5px; margin: 20px 0; border-left: 4px solid #28a745;\">\n      <p style=\"color: #155724; margin: 0; font-weight: bold;\">{{ $json.course.title }}</p>\n      <p style=\"color: #155724; margin: 5px 0 0 0;\">Nivel: {{ $json.course.level }}</p>\n    </div>\n    \n    <p style=\"color: #666; line-height: 1.6;\">Ahora que dominas los fundamentos, es momento de dar el siguiente paso y convertirte en un experto.</p>\n    \n    <div style=\"background: #f9f9f9; padding: 25px; border-radius: 10px; margin: 20px 0; text-align: center; border: 2px solid #1F4E79;\">\n      <h3 style=\"color: #1F4E79; margin: 0;\">Te recomendamos:</h3>\n      <h2 style=\"color: #333; margin: 10px 0;\">{{ $json.nextCourse.title }}</h2>\n      <p style=\"color: #666;\">Nivel Avanzado | Profundiza tus conocimientos</p>\n      <p style=\"font-size: 24px; color: #1F4E79; font-weight: bold;\">${{ $json.nextCourse.price }} USD</p>\n    </div>\n    \n    <div style=\"background: #fff3cd; padding: 15px; border-radius: 5px; margin: 20px 0;\">\n      <p style=\"color: #856404; margin: 0; text-align: center;\"><strong>Oferta especial:</strong> 15% de descuento por ser estudiante certificado</p>\n      <p style=\"color: #856404; margin: 5px 0 0 0; text-align: center;\">Usa el código: <strong>AVANZA15</strong></p>\n    </div>\n    \n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://edu.distmah.com/es/cursos/{{ $json.nextCourse.slug }}\" style=\"background: #1F4E79; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold;\">Ver Curso Avanzado</a>\n    </div>\n  </div>\n  \n  <div style=\"text-align: center; padding: 20px; color: #999; font-size: 12px;\">\n    <p>DISTMAH ATC - Centro de Entrenamiento Autorizado Autodesk</p>\n  </div>\n</div>"
      },
      "id": "send-upsell",
      "name": "Enviar Promoción",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1050, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Webhook Upsell": {
      "main": [
        [
          { "node": "Responder OK", "type": "main", "index": 0 },
          { "node": "¿Es Básico?", "type": "main", "index": 0 }
        ]
      ]
    },
    "¿Es Básico?": {
      "main": [
        [
          { "node": "Buscar Curso Avanzado", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Buscar Curso Avanzado": {
      "main": [
        [
          { "node": "Enviar Promoción", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "marketing" }, { "name": "upsell" }]
}
