n8n-workflows/09-encuesta-satisfaccion.json
{
  "name": "DISTMAH - Encuesta de Satisfacción Post-Certificación",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "survey-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-survey",
      "name": "Webhook Encuesta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"received\"}"
      },
      "id": "response",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@distmah.com.ve",
        "toEmail": "={{ $json.student.email }}",
        "subject": "=Tu opinión nos importa - {{ $json.course.title }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #f5f5f5; padding: 20px;\">\n  <div style=\"background: #1F4E79; padding: 30px; text-align: center;\">\n    <h1 style=\"color: white; margin: 0;\">Tu Opinión</h1>\n  </div>\n  \n  <div style=\"background: white; padding: 30px;\">\n    <h2 style=\"color: #333; text-align: center;\">{{ $json.student.name }}, felicitaciones por tu certificación</h2>\n    \n    <div style=\"background: #d4edda; padding: 15px; border-radius: 5px; margin: 20px 0; text-align: center;\">\n      <p style=\"color: #155724; margin: 0;\">Completaste exitosamente</p>\n      <p style=\"color: #155724; margin: 5px 0 0 0; font-weight: bold; font-size: 18px;\">{{ $json.course.title }}</p>\n    </div>\n    \n    <p style=\"color: #666; line-height: 1.6; text-align: center;\">Nos encantaría conocer tu experiencia. Tu feedback nos ayuda a mejorar continuamente.</p>\n    \n    <div style=\"text-align: center; margin: 30px 0;\">\n      <p style=\"color: #666; margin-bottom: 15px;\">¿Cómo calificarías tu experiencia?</p>\n      <div style=\"margin: 20px 0;\">\n        <a href=\"https://edu.distmah.com/es/encuesta/{{ $json.certificate.id }}?rating=5\" style=\"text-decoration: none; font-size: 30px; margin: 0 5px;\">5</a>\n        <a href=\"https://edu.distmah.com/es/encuesta/{{ $json.certificate.id }}?rating=4\" style=\"text-decoration: none; font-size: 30px; margin: 0 5px;\">4</a>\n        <a href=\"https://edu.distmah.com/es/encuesta/{{ $json.certificate.id }}?rating=3\" style=\"text-decoration: none; font-size: 30px; margin: 0 5px;\">3</a>\n        <a href=\"https://edu.distmah.com/es/encuesta/{{ $json.certificate.id }}?rating=2\" style=\"text-decoration: none; font-size: 30px; margin: 0 5px;\">2</a>\n        <a href=\"https://edu.distmah.com/es/encuesta/{{ $json.certificate.id }}?rating=1\" style=\"text-decoration: none; font-size: 30px; margin: 0 5px;\">1</a>\n      </div>\n      <p style=\"color: #999; font-size: 12px;\">5 = Excelente | 1 = Necesita mejorar</p>\n    </div>\n    \n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://edu.distmah.com/es/encuesta/{{ $json.certificate.id }}\" style=\"background: #1F4E79; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold;\">Completar Encuesta Detallada</a>\n    </div>\n    \n    <p style=\"color: #999; font-size: 12px; text-align: center;\">Esta encuesta toma solo 2 minutos y nos ayuda enormemente.</p>\n  </div>\n  \n  <div style=\"text-align: center; padding: 20px; color: #999; font-size: 12px;\">\n    <p>DISTMAH ATC - Centro de Entrenamiento Autorizado Autodesk</p>\n  </div>\n</div>"
      },
      "id": "send-survey",
      "name": "Enviar Encuesta",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [650, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Webhook Encuesta": {
      "main": [
        [
          { "node": "Responder OK", "type": "main", "index": 0 },
          { "node": "Enviar Encuesta", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "encuestas" }, { "name": "feedback" }]
}
