n8n-workflows/13-reporte-mensual-ingresos.json
{
  "name": "DISTMAH - Reporte Mensual de Ingresos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 1,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Primer Día del Mes 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total_ventas, COALESCE(SUM(amount), 0) as ingresos_totales, COALESCE(AVG(amount), 0) as ticket_promedio FROM enrollments WHERE \"enrolledAt\" >= DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') AND \"enrolledAt\" < DATE_TRUNC('month', CURRENT_DATE)",
        "options": {}
      },
      "id": "get-revenue",
      "name": "Ingresos del Mes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [450, 200],
      "credentials": {
        "postgres": {
          "id": "3",
          "name": "Neon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.title, COUNT(e.id) as ventas, COALESCE(SUM(e.amount), 0) as ingresos FROM enrollments e JOIN courses c ON e.\"courseId\" = c.id WHERE e.\"enrolledAt\" >= DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') AND e.\"enrolledAt\" < DATE_TRUNC('month', CURRENT_DATE) GROUP BY c.id, c.title ORDER BY ingresos DESC LIMIT 10",
        "options": {}
      },
      "id": "get-top-courses",
      "name": "Top Cursos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [450, 400],
      "credentials": {
        "postgres": {
          "id": "3",
          "name": "Neon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as nuevos_estudiantes FROM users WHERE role = 'STUDENT' AND \"createdAt\" >= DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') AND \"createdAt\" < DATE_TRUNC('month', CURRENT_DATE)",
        "options": {}
      },
      "id": "get-students",
      "name": "Nuevos Estudiantes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [450, 600],
      "credentials": {
        "postgres": {
          "id": "3",
          "name": "Neon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as certificados FROM certificates WHERE \"completionDate\" >= DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') AND \"completionDate\" < DATE_TRUNC('month', CURRENT_DATE)",
        "options": {}
      },
      "id": "get-certs",
      "name": "Certificados Emitidos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [450, 800],
      "credentials": {
        "postgres": {
          "id": "3",
          "name": "Neon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@distmah.com.ve",
        "toEmail": "admin@distmah.com.ve",
        "subject": "=Reporte Mensual DISTMAH - {{ $now.minus({months: 1}).format('MMMM yyyy') }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 700px; margin: 0 auto; background: #f5f5f5; padding: 20px;\">\n  <div style=\"background: #1F4E79; padding: 30px; text-align: center;\">\n    <h1 style=\"color: white; margin: 0;\">Reporte Mensual</h1>\n    <p style=\"color: #ccc; margin: 5px 0 0 0;\">{{ $now.minus({months: 1}).format('MMMM yyyy') }}</p>\n  </div>\n  \n  <div style=\"background: white; padding: 30px;\">\n    <h2 style=\"color: #333; border-bottom: 2px solid #1F4E79; padding-bottom: 10px;\">Resumen Financiero</h2>\n    \n    <div style=\"display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px; margin: 20px 0;\">\n      <div style=\"background: #f9f9f9; padding: 20px; border-radius: 10px; text-align: center;\">\n        <h3 style=\"color: #28a745; margin: 0; font-size: 32px;\">${{ $json.ingresos_totales }}</h3>\n        <p style=\"color: #666; margin: 5px 0 0 0;\">Ingresos Totales</p>\n      </div>\n      <div style=\"background: #f9f9f9; padding: 20px; border-radius: 10px; text-align: center;\">\n        <h3 style=\"color: #1F4E79; margin: 0; font-size: 32px;\">{{ $json.total_ventas }}</h3>\n        <p style=\"color: #666; margin: 5px 0 0 0;\">Total Ventas</p>\n      </div>\n      <div style=\"background: #f9f9f9; padding: 20px; border-radius: 10px; text-align: center;\">\n        <h3 style=\"color: #1F4E79; margin: 0; font-size: 32px;\">${{ $json.ticket_promedio }}</h3>\n        <p style=\"color: #666; margin: 5px 0 0 0;\">Ticket Promedio</p>\n      </div>\n      <div style=\"background: #f9f9f9; padding: 20px; border-radius: 10px; text-align: center;\">\n        <h3 style=\"color: #1F4E79; margin: 0; font-size: 32px;\">{{ $json.nuevos_estudiantes }}</h3>\n        <p style=\"color: #666; margin: 5px 0 0 0;\">Nuevos Estudiantes</p>\n      </div>\n    </div>\n    \n    <h3 style=\"color: #333;\">Certificados Emitidos: {{ $json.certificados }}</h3>\n  </div>\n  \n  <div style=\"text-align: center; padding: 20px; color: #999; font-size: 12px;\">\n    <p>DISTMAH ATC - Reporte generado automáticamente</p>\n  </div>\n</div>"
      },
      "id": "send-report",
      "name": "Enviar Reporte",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [850, 400],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Primer Día del Mes 9AM": {
      "main": [
        [
          { "node": "Ingresos del Mes", "type": "main", "index": 0 },
          { "node": "Top Cursos", "type": "main", "index": 0 },
          { "node": "Nuevos Estudiantes", "type": "main", "index": 0 },
          { "node": "Certificados Emitidos", "type": "main", "index": 0 }
        ]
      ]
    },
    "Ingresos del Mes": {
      "main": [
        [
          { "node": "Enviar Reporte", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "reportes" }, { "name": "finanzas" }, { "name": "cron" }]
}
