n8n-workflows/18-acceso-curso-expirando.json
{
  "name": "DISTMAH - Acceso a Curso por Expirar",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Cada Día 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT e.id, e.\"userId\", e.\"courseId\", e.\"expiresAt\", u.name as student_name, u.email as student_email, c.title as course_title, c.slug as course_slug FROM enrollments e JOIN users u ON e.\"userId\" = u.id JOIN courses c ON e.\"courseId\" = c.id WHERE e.\"expiresAt\" IS NOT NULL AND e.\"expiresAt\" BETWEEN NOW() AND NOW() + INTERVAL '7 days' AND e.status = 'ACTIVE' AND e.\"progressPercent\" < 100",
        "options": {}
      },
      "id": "get-expiring",
      "name": "Accesos por Expirar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "3",
          "name": "Neon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@distmah.com.ve",
        "toEmail": "={{ $json.student_email }}",
        "subject": "=Tu acceso a {{ $json.course_title }} expira pronto",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #f5f5f5; padding: 20px;\">\n  <div style=\"background: #ffc107; padding: 30px; text-align: center;\">\n    <h1 style=\"color: #333; margin: 0;\">Tu Acceso Expira Pronto</h1>\n  </div>\n  \n  <div style=\"background: white; padding: 30px;\">\n    <p style=\"color: #666; line-height: 1.6;\">Hola {{ $json.student_name }},</p>\n    \n    <p style=\"color: #666; line-height: 1.6;\">Tu acceso al curso <strong>{{ $json.course_title }}</strong> expira el <strong>{{ new Date($json.expiresAt).toLocaleDateString('es-ES', {day: 'numeric', month: 'long', year: 'numeric'}) }}</strong>.</p>\n    \n    <div style=\"background: #fff3cd; padding: 20px; border-radius: 10px; margin: 25px 0; text-align: center; border: 2px solid #ffc107;\">\n      <p style=\"color: #856404; margin: 0; font-size: 18px;\">¡No pierdas tu progreso!</p>\n      <p style=\"color: #666; margin: 10px 0 0 0;\">Completa el curso antes de que expire tu acceso.</p>\n    </div>\n    \n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://edu.distmah.com/es/cursos/{{ $json.course_slug }}\" style=\"background: #1F4E79; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold;\">Continuar Curso</a>\n    </div>\n    \n    <p style=\"color: #999; font-size: 12px;\">Si necesitas más tiempo, contacta a soporte@distmah.com.ve</p>\n  </div>\n  \n  <div style=\"text-align: center; padding: 20px; color: #999; font-size: 12px;\">\n    <p>DISTMAH ATC - Centro de Entrenamiento Autorizado Autodesk</p>\n  </div>\n</div>"
      },
      "id": "send-expiring",
      "name": "Enviar Alerta",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [650, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Cada Día 9AM": {
      "main": [
        [
          { "node": "Accesos por Expirar", "type": "main", "index": 0 }
        ]
      ]
    },
    "Accesos por Expirar": {
      "main": [
        [
          { "node": "Enviar Alerta", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "alertas" }, { "name": "acceso" }, { "name": "cron" }]
}
